<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style2.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="box">
      <div class="item"><img src="images/img_1.jfif" alt="" /></div>
      <div class="item"><img src="images/img_2.jfif" alt="" /></div>
      <div class="item item-three"><img src="images/img_3.jfif" alt="" /></div>
      <div class="item"><img src="images/img_4.jfif" alt="" /></div>
      <div class="item"><img src="images/img_5.jfif" alt="" /></div>
      <div class="item"><img src="images/img_6.jfif" alt="" /></div>
      <div class="item"><img src="images/img_7.jfif" alt="" /></div>
      <div class="item"><img src="images/img_8.jfif" alt="" /></div>
      <div class="item"><img src="images/img_9.jpg" alt="" /></div>
    </div>
  </body>
</html>
